apiVersion: v1
kind: Secret
metadata:
  name: superstreaming-secrets
  namespace: superstreaming
type: Opaque
stringData:
  PUBLISH_SECRET: "changeme_publish"
  INTERNAL_SECRET: "changeme_internal"
  VIEWER_SECRET: "changeme_viewer"
  WEBRTC_EXTERNAL_HOST: "192.168.1.100"     # replace with k3s node IP
  MINIO_ROOT_USER: "minioadmin"
  MINIO_ROOT_PASSWORD: "changeme_minio"
  MINIO_BUCKET: "recordings"
  POSTGRES_USER: "superstreaming"
  POSTGRES_PASSWORD: "changeme_postgres"
  POSTGRES_DB: "superstreaming"
